input[type="text"],
[type="number"],
[type="password"] {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
}

button {
  align-self: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

button:hover {
  background-color: rgb(68, 55, 143);
  cursor: pointer;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
