* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  padding: 20px;
}

.contentProfile {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.mainTitle {
  background: beige;
}

.background {
  background: url(~images/testBig.jpeg) no-repeat;
  background-size: contain;
  background-position: center;
  height: 300px;
  margin: auto;
}

.svgBackground {
  background: url(~images/background.svg) no-repeat;
  background-size: contain;
  background-position: center;
  height: 300px;
  margin: auto;
  background-color: gray;
}

.container {
  min-height: 80vh;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./../assets/images/2020-games-cyberpunk-2077-night-city.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.inputLink {
  outline: none;
  text-decoration: none;
}

.gameContainer {
  min-height: 20vh;
  background-color: slategrey;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  width: 200px;
}

.error {
  color: red;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.loader {
  position: relative;
  width: 100%;
}

.loader img {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 50;
}
