.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 22px 0 22px 0;
}

.title {
  padding-left: 20px;
  color: #ff7d7d;
  text-shadow: 0 0 2px #ff0000, 0 0 2px #ff0000, 0 0 4px #ff0000, 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 10px #ff0000,
    0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 40px #ff0000, 0 0 40px #ff0000, 0 0 45px #ff0000, 0 0 65px #ff0000;
  filter: brightness(300%);
}

.navBar {
  display: flex;
  list-style: none;
  position: relative;
}

.navItem {
  list-style: none;
}

.navItem a {
  text-decoration: none;
  padding: 31px;
  color: white;
}

.navItem a.activeLink {
  background-color: grey;
  border-bottom: 4px solid hotpink;
}

.navItem a:hover {
  background-color: lightsteelblue;
}

.subMenu {
  position: absolute;
  top: 49px;
  background-color: black;
  width: 118px;
  list-style: none;
}

.subMenu .subItem {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.subMenu .subItem:hover {
  background-color: lightsteelblue;
}

.SlideSideBar {
  /* height: 114px; */
  display: block;
  z-index: 2;
}

.CloseSlideSideBar {
  /* height: 0; */
  display: none;
}

.navSlide {
  display: flex;
  flex-direction: column;
  background-color: dimgray;
  position: fixed;
  top: 0px;
}
