.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
}

.navBar {
  display: flex;
  list-style: none;
  position: relative;
}

.navItem a {
  text-decoration: none;
  padding: 31px;
  color: white;
}

.navItem a.activeLink {
  background-color: grey;
  border-bottom: 4px solid hotpink;
}

.navItem a:hover {
  background-color: lightsteelblue;
}

.subMenu {
  position: absolute;
  top: 49px;
  background-color: black;
  width: 118px;
}

.subMenu .subItem {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.subMenu .subItem:hover {
  background-color: lightsteelblue;
}

.SlideSideBar {
  /* height: 114px; */
  display: block;
}

.CloseSlideSideBar {
  /* height: 0; */
  display: none;
}

.navSlide {
  display: flex;
  flex-direction: column;
  background-color: dimgray;
  position: fixed;
  top: 0px;
}
