.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  font-size: 45px;
  height: 10vh;
}

.footer a {
  padding: 10px;
}

.footer a:hover {
  background-color: lightsteelblue;
}
