.mainPhotoWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 100px;
}

.mainPhotoWrapper img {
  width: 100%;
  max-width: 370px;
  height: auto;
  border-radius: 34px;
}

.changePhotoButton {
  min-width: 100px;
  max-width: 370px;
  background-color: black;
  color: white;
  border-radius: 5px;
  /* width: 370px; */
  padding: 10px 20px;
  border: 1px solid gray;
  text-align: center;
  margin-top: 20px;
}

input[type="file"] {
  display: none;
}

.profileDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  color: white;
  width: 70%;
  height: 100%;
}

.profileData {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 35px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-bottom: 10px;
}

.profileTextareaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileTextareaWrapper > div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.profileButtonsWrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 20px;
}

.profileContent {
  width: 25%;
  justify-self: flex-start;
}

textarea {
  border-radius: 5px;
  width: 70%;
  outline: none;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
@media (max-width: 960px) {
  .mainPhotoWrapper {
    margin-top: 16px;
    align-items: center;
  }

  .profileDataContainer {
    margin-top: 20px;
    width: auto;
  }

  .profileTextareaWrapper > div {
    margin: 0;
  }

  .profileContent {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .mainPhotoWrapper img {
    width: 50%;
  }

  .profileData {
    padding: 10px;
  }

  .profileTextareaWrapper > div {
    flex-direction: column;
    align-items: center;
  }

  textarea {
    width: 100%;
  }
}
