.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
}

.title {
  padding-left: 20px;
  color: #ff7d7d;
  text-shadow: 0 0 2px #ff0000, 0 0 2px #ff0000, 0 0 4px #ff0000, 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 10px #ff0000,
    0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 40px #ff0000, 0 0 40px #ff0000, 0 0 45px #ff0000, 0 0 65px #ff0000;
  filter: brightness(300%);
}

.navBar {
  display: flex;
  list-style: none;
  position: relative;
}

.navItem {
  list-style: none;
}

.navItem a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 31px;
  color: white;
}

.navItem a svg {
  font-size: 20px;
}

.navItem a span {
  align-self: flex-end;
}

.navItem a.activeLink {
  background-color: slateblue;
}

.navItem a:hover {
  background-color: rgb(68, 55, 143);
}

.subMenu {
  position: absolute;
  top: 83px;
  background-color: black;
  width: 118px;
  list-style: none;
}

.subMenu .subItem {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.subMenu .subItem:hover {
  background-color: lightsteelblue;
}

.SlideSideBar {
  width: 139px;
  display: block;
  z-index: 5;
}

.CloseSlideSideBar {
  display: none;
}

.navSlide {
  display: flex;
  flex-direction: column;
  background-color: dimgray;
  position: fixed;
  top: 0px;
}
